@import 'tailwindcss';

@font-face{
  font-family: Inconsolata;
  src: url("./assets/fonts/Inconsolata/Inconsolata-Regular.ttf");
}
@font-face{
  font-family: Manufacturing Consent;
  src: url("./assets/fonts/ManufacturingConsent/ManufacturingConsent-Regular.ttf");
}
@font-face{
  font-family: Macondo;
  src: url("./assets/fonts/Macondo-Regular.ttf");
}
@font-face{
  font-family: Monserrat Alternates;
  src: url("./assets/fonts/MonserratAlternates/MontserratAlternates-Regular.ttf");
}
@font-face{
  font-family: Faculty Glyphic;
  src: url("./assets/fonts/FacultyGlyphic-Regular.ttf");
}
@font-face{
  font-family: Libertinus Mono;
  src: url("./assets/fonts/LibertinusMono-Regular.ttf");
}
@font-face{
  font-family: Fira Code;
  src: url("./assets/fonts/FiraCode-VariableFont_wght.ttf");
}
@font-face{
  font-family: League Spartan;
  src: url("./assets/fonts/LeagueSpartan/LeagueSpartan-Regular.ttf")
}

@theme{
  --font-inconsolata: Inconsolata, 'mono';
  --font-manufacturing: Manufacturing Consent, 'sans';
  --font-libertinus: Libertinus Mono, 'sans';
  --font-macondo: Macondo, 'sans-serif';
  --font-montserrat-alt: Monserrat Alternates, 'sans';
  --font-faculty-glyphic: Faculty Glyphic, 'sans-serif';
  --font-fira-code: Fira Code, 'mono';
  --font-league-spartan: League Spartan, 'serif';
}

.navlink {
  @apply text-pink-500 font-inconsolata md:text-xl transition duration-200 hover:scale-105 tracking-widest;
}
.hireMeButtonAnimation{
  transition: all 0.5s ease-in-out;
}
.hireMeButtonAnimation:hover{
  box-shadow: 0 0 40px #f01cff;
  background-color: #f01cff;
  color: white;
  transform: scale(1.1);
}

.iconViteAnimation:hover{
  animation: iconViteAnimation .5s forwards ease-in-out;
}
@keyframes iconViteAnimation{
  from{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(5px);
  }
  to{
    transform: translateY(0px);
  }
}
.iconReactHover{
  transform: rotate(360deg);
  transition: all .3s ease;
}
.iconReactHover:hover{  
  filter: drop-shadow(0 0 1px skyblue);
  animation: 3s ease forwards rotateIn;
}
@media(width >= 48rem){
.scaleSmoothly{
  transition: transform .5s ease;
}
.scaleSmoothly:hover{
  transition: transform .5s ease;
  transform: scale(1.1);
} 
}
@keyframes rotateIn{
 from{
    transform: rotate(0);
 }
 to{
    transform: rotate(360deg);
 }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FF6467; }
}

:root {
  font-family: 'Microsoft JhengHei UI',system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  cursor: none;
  scroll-behavior: smooth;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-height: 100vh;
  color: white;
  cursor: none;
  background-color: #222222;
  box-sizing: border-box;
  /* background-image: url('/src/assets/itachi.jpg');
  background-size: cover; */
}
*{
  cursor: none;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: indigo;
  }
} */
